{% extends 'post/index.html' %}

{% block title %} About {% endblock %}

{% block content %}
{#    {% for objects in object_list %}#}

{#    {% endfor %}#}
{#    {% for objects in object_list %}#}
{#        <div class="card" style="width: 18rem;">#}
{#        {% if objects.image %}#}
{#      <img src="{{ objects.image.url }}" class="card-img-top" alt="...">#}
{##}
{#            {% endif %}#}
{#    {% endfor %}#}
{#    <div class="about">#}
{#<h5>Чому саме наш інтернет-магазин?#}
{#Серед великої кількості інтернет-магазинів, можна довго вибирати в якому саме зробити свою покупку. Якщо у Вас є якісь сумніви або запитання, зателефонуйте нам, і ми завжди Вам допоможемо, а Ваші сумніви розвіються. Ми пропонуємо вигідні ціни та оперативність. Ми завжди будемо робити все, від нас залежне, щоб Ви залишились задоволені своєю покупкою, та повернулись до нас знову.#}
{#    </h5>#}
{#        <h5>З  повагою, команда інтернет-магазину VEST.</h5>#}
{# <h5>Сайт: https://bossshop.com</h5>#}
{##}
{# <h5>E-mail: boss.shop@gmail.com</h5>#}
{##}
{#<h5>Телефон: +38 (066) 858-13-04; </h5>#}
{##}
{##}
{#    <h5>Адрес: м. Стрий, вул.Стрийська, 9</h5>#}
{#    </div>#}
<div class="jumbotron">
  <h5 class="display-4">ПРО МАГАЗИН</h5>
    <hr class="my-4">
  <p class="lead">   Ми, відносно молода команда, проте вже встигли зарекомендувати себе як надійний інтернет-магазин про що свідчать тисячі задоволених клієнтів. Весь товар зі сторінок інтернет-магазину BOSS SHOP проходить перевірку на якість на нашому складі, тому Ви гарантовано отримуєте тільки якісний перевірений товар. У нас завжди оперативне відппавлення товару: протягом 24 години з моменту покупки, що забезпечує швидку доставку до Вас. Зазвичай це складає 1-2 дні. Ми співпрацюємо з найбільш популярними службами доставки це Нова пошта, Інтайм, Укрпошта. Наша головна мета це задоволений клієнт, тому ми робимо все від нас можливе щоб Ви залишились задоволені після покупки у нашому магазині.</p>
  <hr class="my-4">
  <p> У нас Ви можете знайти товари, які потрібні чи не кожній сучасній людині. Велику  частку з яких у нас займають аксесуари для мобільних пристроїв:  це різноманітні  чохли, бампери, плівки,  зарядні пристрої, гарнітури та навушники,  акумулятори,  моноподи, кабелі,  перехідники та багато іншого. Також у нас Ви можете знайти аксесуари для жінок та чоловіків (гаманці та портмоне, сумочки,  клатчі, годинники та ін.), товари для дому, дрібну техніку та електроніку, велоаксесуари, товари для спорту та відпочинку  та багато інших цікавих Вам товарів, асортимент яких постійно поповнюється та розширюється. Ці товари завжди мають попит, але не завжди Ви можете знайти саме те, що хотіли  у магазинах свого міста. В таких випадках, ми постараємось Вам допомогти та підібрати необхідний товар.
</p>
    <hr class="my-4">
    <h5 class="display-4">Як отримати товар у своєму місті?</h5>
    <hr class="my-4">
    <p>Після оформлення замовлення на сайті, до Вас зателефонує менеджер для підтвердження замовлення та узгодження способу оплати і адреси доставки.
        Доставка товару відбувається службами «Нова Пошта», «УкрПошта» та «ІнТайм». Вартість доставки Ви можете уточнити на сайтах компанії, або ж у менеджерів нашого магазину.</p>
    <hr class="my-4">
    <h5 class="display-4">Якими способами можна оплатити куплений товар?</h5>
    <hr class="my-4">
    <p>
        Оплатити покупку Ви можете двома способами:
Оплата на карту ПриватБанку (через інтернетбанкінг Приват24, або у відділенні банку через термінал самообслуговування або касу, чи будь-який інший платіжний термінал)
Онлайн оплата, при при оформлені замовлення через корзину, будь-якою карточкою MasterCard або VISA.
Оплата при отриманні на відділенні кур’єрських служб (при такому способі оплати, окрім вартості дотавки, Ви також оплачуєте вартість зворотньої доставки )
Про переваги і недолікикожного способу оплати Ви завжди можете запитати у наших менеджерів.
    </p>
    <hr class="my-4">

        <h5>З  повагою, команда інтернет-магазину BOSS SHOP.</h5>
 <h5>Сайт: https://bossshop.com</h5>

 <h5>E-mail: boss.shop@gmail.com</h5>

<h5>Телефон: +38 (066) 858-13-04; </h5>


    <h5>Адрес: м. Стрий, вул.Стрийська, 9</h5>
<hr class="my-4">
</div>

{% endblock %}

